#sidenav-collapse-main.collapse.navbar-collapse
  .navbar-collapse-header.d-md-none
    .row
      .col-6.collapse-brand
        %a{href: "./index.html"}
          %img{src: "./assets/img/brand/blue.png"}/
      .col-6.collapse-close
        %button.navbar-toggler{"aria-controls" => "sidenav-main", "aria-expanded" => "true", "aria-label" => "Toggle sidenav", "data-target" => "#sidenav-collapse-main", "data-toggle" => "collapse", type: "button"}
          %span
          %span
  %ul.navbar-nav
    %li.nav-item
      = link_to root_path, class: 'nav-link' do
        %i.menu-icon.tf-icons.bx.bx-award
        Dashboard
    - if policy([:user, :admin, User]).index?
      %li.nav-item
        = link_to user_admin_users_path, class: 'nav-link' do
          %i.menu-icon.tf-icons.bx.bx-award
          Usuário
    - if policy([:user, :admin, Office]).index?
      %li.nav-item
        = link_to user_admin_offices_path, class: 'nav-link' do
          %i.menu-icon.tf-icons.bx.bx-award
          Cargos

    %hr.separator
    %li.nav-item
      = link_to user_common_notifications_path, class: 'nav-link' do
        %i.menu-icon.tf-icons.bx.bx-award
        Notificação
        .span.badge.badge-light.text-danger
          = Notification.where(user: current_user, read_confirmation: false).size
    %li.nav-item
      = link_to destroy_user_session_path, :method => :get, class: 'nav-link' do
        %i.menu-icon.tf-icons.bx.bx-award
        Sair
