%html{lang: 'pt-BR'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0", name: "viewport"}
    %title
      - if Rails.env.development?
        DEV -
      Cartório

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body
    %nav#sidenav-main.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light.bg-white
      .container-fluid
        = render 'layouts/navbar'
        / Collapse
        = render 'layouts/sidenav'
    .main-content
      / Navbar
      %nav#navbar-main.navbar.navbar-top.navbar-expand-md.navbar-dark
        .container-fluid
          .h5.mb-0.text-white.text-uppercase.d-none.d-lg-inline-block Dashboard
          
          %ul.navbar-nav.align-items-center.d-none.d-md-flex
            %li.nav-item.dropdown
              %a.nav-link.pr-0{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                .media.align-items-center
                  .media-body.ml-2.d-none.d-lg-block
                    %span.mb-0.text-sm.font-weight-bold Jessica Jones
              .dropdown-menu.dropdown-menu-arrow.dropdown-menu-right
                .dropdown-header.noti-title
                  %h6.text-overflow.m-0 Welcome!
                %a.dropdown-item{href: "./examples/profile.html"}
                  %i.ni.ni-single-02
                  %span My profile

                .dropdown-divider
                %a.dropdown-item{href: "#!"}
                  %i.ni.ni-user-run
                  %span Logout

      .header.pb-8.pt-5.pt-md-8{style: "background-color: #696be4"}
      .container-fluid.mt--7
        .header-body
          = yield
      = flash_message